.description{
  position: relative;
  width: 100%;
  display: flex;
  padding-left: 120px;
  min-height: 856px;
  justify-content: space-between;
  &__image{
    height: 836px;
    width: 610px;
    justify-self: flex-end;
    margin-top: 20px;
    margin-right: 120px;
  }
  &__bike-fix{
    position: absolute;
    background-color: #f4f4f4;
    width: 440px;
    height: 300px;
    border-radius: 20px;
    background-image: url("../../images/cannondale.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    top: 392px;
    right: 490px;
  }
  &__bike-text{
    font-family: $font;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: $headerLinkColor;
    margin-top: 169px;
  }
  &__line{
    border-top: 2px solid #D7D4D4;
    width: 132px;
    align-self: flex-end;
    margin-bottom: 26px;
  }
  &__bike-name{
    display: flex;
    gap: 30px;
    align-self: flex-end;
  }
}