$headerLinkColor: #151515;
$font : Inter, sans-serif;
$bgColor: #F4F4F4;
$pageTextColor: #222222;
$buttonColor: #24b47e;
$buttonHoverColor: #319e75;
$cursor: url("../images/Pointer.svg") , pointer;

@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import "../blocks/page/page";
@import "../blocks/header/header";
@import "../blocks/description/description";
@import "../blocks/title/title";
@import "../blocks/text/text";
@import "../blocks/button/button";
@import "../blocks/quote/quote";
@import "../blocks/covers/covers";
@import "../blocks/carousel/carousel";



